.nav {
  position: relative;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 0.7rem 2rem 1rem 2rem;
  font-weight: 500;
}

.main-logo {
  width: 130px;
  max-width: 100%;
  height: auto;
  z-index: 0;
  align-items: center;
}
.navbar-light .navbar-nav .nav-link {
  color: #084474;
}
.immobilien {
  margin-left: 85px;
}

.header-line {
  position: absolute;
  top: 67px;
  left: 0px;
  height: 2px;
  border: none;
  background: #814812;
  width: 100%;
  z-index: 1;
  color: #d69456;
}

.bg-light {
  background-color: white !important;
}

@media only screen and (max-width: 768px) {
  .nav {
    padding: 0;
    margin: 0;
    justify-content: flex-end;
    background-color: white;
  }
  .nav::before {
    content: url(../img/logo-gallus-baer-v2-02.png);
    position: absolute;
    width: 50px;
    height: auto;
    margin: 16px 0 0 16px;
    top: 0;
    left: 0;
  }
  .navbar {
    display: flex;
    justify-content: flex-end;
    margin-top: 32px;
  }
  button {
    border: none;
    margin-right: 16px;
    border: none;
  }

  button:focus {
    border: none;
  }

  .links,
  .nav-link {
    margin: 0 10px 0 0;
    padding: 0;
    text-align: right;
    line-height: 2.25rem;
  }
  .immobilien {
    margin-top: 20px;
  }

  .main-logo {
    display: none;
  }

  .navbar-light .navbar-nav .nav-link {
    justify-content: flex-end;
    font-size: 26px;
    color: black;
  }
  .header-line {
    display: none;
  }
  .navbar-toggler-icon {
    border: none;
  }
  .collapsed:focus {
    border: none;
  }
}
