.outline {
    border: 2px solid #D5A77B;
}

.outline-btn {
    border: 2px solid #084474;
    cursor:pointer;
}
.outline-btn:hover {
    border: 2px solid #084474;
    cursor:pointer;
}

.textarea-font {
    font-family: helvetica;
    font-size: 16px;

}

.form-text {
    font-size: 12px;
    line-height: 15px;
}

.btn-text {
    font-size: 13px;
}


